.user-history-banner {
  width: 100%;
  position: relative;
}
.user-history-banner .bg {
  display: block;
  width: 100%;
}
.user-history-banner .user-head {
  width: 0.98958333rem;
  height: 0.98958333rem;
  position: absolute;
  left: 50%;
  margin-left: -0.49479167rem;
  border-radius: 50%;
  background-color: #FFF;
  overflow: hidden;
  top: 0.41666667rem;
}
.user-history-banner .user-head img {
  display: block;
  width: 100%;
  height: 100%;
}
.user-history-banner .user-name {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 1.51041667rem;
  color: #FFF;
  font-size: 0.10416667rem;
}
.user-history-nav {
  height: 78px;
  border-bottom: 1px solid #f2f2f2;
}
.user-history-nav .user-nav {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.user-history-nav .user-nav li {
  float: left;
  line-height: 78px;
  margin-right: 70px;
}
.user-history-nav .user-nav li a {
  font-size: 14px;
  color: #000;
  opacity: .5;
  transition: all .1s;
  position: relative;
  padding: 0 8px;
  display: block;
}
.user-history-nav .user-nav li.active a,
.user-history-nav .user-nav li:hover a {
  opacity: 1;
}
.user-history-nav .user-nav li.active a::before,
.user-history-nav .user-nav li:hover a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  border-bottom: 2px solid #000;
}
.user-post-history {
  width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
}
.user-post-history .title {
  line-height: 60px;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}
.user-post-history .list {
  padding-top: 38px;
  padding-bottom: 190px;
}
.user-post-history .list dt,
.user-post-history .list dd {
  font-size: 0;
}
.user-post-history .list dt span,
.user-post-history .list dd span {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 134px;
  vertical-align: middle;
}
.user-post-history .list dt span:nth-child(1),
.user-post-history .list dd span:nth-child(1) {
  width: 10%;
}
.user-post-history .list dt span:nth-child(2),
.user-post-history .list dd span:nth-child(2) {
  width: 14%;
}
.user-post-history .list dt span:nth-child(3),
.user-post-history .list dd span:nth-child(3) {
  width: 16%;
}
.user-post-history .list dt span:nth-child(4),
.user-post-history .list dd span:nth-child(4) {
  width: 35%;
  padding: 37px 0;
  line-height: 1.8em;
  font-size: 12px;
}
.user-post-history .list dt span:nth-child(5),
.user-post-history .list dd span:nth-child(5) {
  width: 15%;
}
.user-post-history .list dt span:nth-child(6),
.user-post-history .list dd span:nth-child(6) {
  width: 10%;
}
.user-post-history .list dt {
  line-height: 100px;
  height: 100px;
  box-shadow: 2px 2px 5px 1px #f3f3f3;
}
.user-post-history .list dd {
  border-bottom: 1px solid #eee;
}
.user-post-history .list dd span {
  font-size: 14px;
}
@media screen and (max-width: 1380px) {
  .user-history-nav .user-nav {
    width: 7.82608696rem;
  }
  .user-post-history {
    width: 7.82608696rem;
    margin-top: 0.36231884rem;
  }
  .user-post-history .title {
    line-height: 0.43478261rem;
  }
  .user-post-history .list {
    padding-top: 0.27536232rem;
    padding-bottom: 1.37681159rem;
  }
}
@media screen and (max-width: 980px) {
  .user-history-nav .user-nav {
    width: 8.57142857rem;
  }
  .user-post-history {
    width: 8.57142857rem;
  }
  .user-post-history .list dt span,
  .user-post-history .list dd span {
    font-size: 14px;
    line-height: 1.36734694rem;
  }
  .user-post-history .list dt span:nth-child(1),
  .user-post-history .list dd span:nth-child(1) {
    width: 13%;
  }
  .user-post-history .list dt span:nth-child(2),
  .user-post-history .list dd span:nth-child(2) {
    width: 17%;
  }
  .user-post-history .list dt span:nth-child(3),
  .user-post-history .list dd span:nth-child(3) {
    width: 19%;
  }
  .user-post-history .list dt span:nth-child(4),
  .user-post-history .list dd span:nth-child(4) {
    width: 20%;
    padding: 0.37755102rem 0;
  }
  .user-post-history .list dt span:nth-child(5),
  .user-post-history .list dd span:nth-child(5) {
    width: 18%;
  }
  .user-post-history .list dt span:nth-child(6),
  .user-post-history .list dd span:nth-child(6) {
    width: 13%;
  }
  .user-post-history .list dt {
    line-height: 1.02040816rem;
    height: 1.02040816rem;
  }
  .user-post-history .list dd span {
    font-size: 12px;
  }
}
@media screen and (max-width: 750px) {
  .user-history-banner .user-name {
    font-size: 0.21333333rem;
  }
  .user-history-nav {
    height: 1.57333333rem;
    border-bottom: none;
    position: relative;
  }
  .user-history-nav::before {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    transform: scaleY(0.33333);
    position: absolute;
  }
  .user-history-nav .user-nav {
    width: 9.4rem;
  }
  .user-history-nav .user-nav li {
    width: 50%;
    line-height: 1.57333333rem;
    margin-right: 0;
    font-size: 0;
    text-align: center;
  }
  .user-history-nav .user-nav li a {
    font-size: 0.32rem;
    padding: 0 0.10666667rem;
    display: inline-block;
  }
  .user-post-history {
    width: 9.4rem;
    margin-top: 0.8rem;
  }
  .user-post-history .title {
    line-height: 0.53333333rem;
    font-size: 0.32rem;
    text-align: left;
  }
  .user-post-history .list {
    padding-top: 0.8rem;
    padding-bottom: 190px;
  }
  .user-post-history .list dt,
  .user-post-history .list dd {
    font-size: 0;
  }
  .user-post-history .list dt span,
  .user-post-history .list dd span {
    font-size: 0.24rem;
    line-height: 0.53333333rem;
    vertical-align: middle;
  }
  .user-post-history .list dt span:nth-child(1),
  .user-post-history .list dd span:nth-child(1) {
    width: 12%;
  }
  .user-post-history .list dt span:nth-child(2),
  .user-post-history .list dd span:nth-child(2) {
    width: 14%;
  }
  .user-post-history .list dt span:nth-child(3),
  .user-post-history .list dd span:nth-child(3) {
    width: 16%;
  }
  .user-post-history .list dt span:nth-child(4),
  .user-post-history .list dd span:nth-child(4) {
    width: 28%;
    padding: 0;
    line-height: 0.53333333rem;
  }
  .user-post-history .list dt span:nth-child(5),
  .user-post-history .list dd span:nth-child(5) {
    width: 15%;
  }
  .user-post-history .list dt span:nth-child(6),
  .user-post-history .list dd span:nth-child(6) {
    width: 15%;
  }
  .user-post-history .list dt {
    line-height: 0.53333333rem;
    padding-bottom: 0.34666667rem;
    box-shadow: 2px 2px 5px 1px #f3f3f3;
    height: auto;
  }
  .user-post-history .list dd {
    border-bottom: 1px solid #eee;
  }
  .user-post-history .list dd span {
    font-size: 0.18666667rem;
  }
  .user-post-history .list dd span:nth-child(4) {
    width: 28%;
    font-size: 0.16rem;
    padding: 0.16rem 0;
    line-height: 1.6em;
  }
}
*::-webkit-input-placeholder {
  color: #000!important;
  opacity: .4!important;
}
*::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000!important;
  opacity: .4!important;
}
*:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000!important;
  opacity: .4!important;
}
*:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000!important;
  opacity: .4!important;
}
.bind-phone-number {
  position: relative;
  width: 540px;
  height: 638px;
  margin: 75px auto 123px auto;
  box-shadow: 2px 2px 9px 0px #e2e2e2;
}
.bind-phone-number .title {
  padding-top: 80px;
  line-height: 1em;
  padding-bottom: 86px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.bind-phone-number .send-phone,
.bind-phone-number .send-code,
.bind-phone-number .old-phone {
  position: relative;
  margin-bottom: 38px;
}
.bind-phone-number .send-phone input,
.bind-phone-number .send-code input,
.bind-phone-number .old-phone input {
  display: block;
  width: 350px;
  line-height: 30px;
  padding: 15px 0;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  padding-left: 90px;
  margin: 0 auto;
  font-size: 16px;
}
.bind-phone-number .old-phone input {
  width: 294px;
  padding-left: 146px;
}
.bind-phone-number .old-phone .old-number {
  font-size: 20px;
  color: #333;
  opacity: .3;
  position: absolute;
  left: 44px;
  top: 0;
  bottom: 0;
  width: 146px;
  line-height: 60px;
  text-align: center;
}
.bind-phone-number .send-phone::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 38px;
  border-right: 1px solid #999;
  left: 44px;
  top: 12px;
  background: url("../images/phone-number.png") no-repeat center;
  background-size: 38px auto;
  opacity: .3;
}
.bind-phone-number .bind-post {
  display: block;
  width: 440px;
  margin: 0 auto;
  line-height: 60px;
  border-radius: 6px;
  color: #FFF;
  font-size: 24px;
  text-align: center;
  border: none;
  background-color: #333;
}
.bind-phone-number .send-code {
  margin-bottom: 78px;
}
.bind-phone-number .send-code input {
  display: block;
  width: 300px;
  padding-left: 20px;
  padding-right: 120px;
}
.bind-phone-number .send-code .get-code {
  position: absolute;
  right: 44px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 120px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #cccccc;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  line-height: 62px;
}
.bind-phone-number .bind-phone-succeed {
  padding-top: 145px;
  width: 138px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/bind-phone-succeed.png") no-repeat center top;
  background-size: 108px auto;
  text-align: center;
  line-height: 1.2em;
  font-size: 24px;
}
@media screen and (max-width: 750px) {
  .bind-phone-number {
    width: 7.2rem;
    height: 8.50666667rem;
    margin: 1rem auto 1.64rem auto;
  }
  .bind-phone-number .title {
    padding-top: 1.06666667rem;
    padding-bottom: 1.14666667rem;
    font-size: 0.32rem;
  }
  .bind-phone-number .send-phone,
  .bind-phone-number .send-code,
  .bind-phone-number .old-phone {
    margin-bottom: 0.50666667rem;
  }
  .bind-phone-number .send-phone input,
  .bind-phone-number .send-code input,
  .bind-phone-number .old-phone input {
    width: 4.66666667rem;
    line-height: 0.4rem;
    padding: 0.2rem 0;
    border-radius: 0.08rem;
    padding-left: 1.2rem;
    font-size: 0.26666667rem;
  }
  .bind-phone-number .old-phone input {
    width: 3.92rem;
    padding-left: 1.94666667rem;
  }
  .bind-phone-number .old-phone .old-number {
    font-size: 0.26666667rem;
    left: 0.58666667rem;
    width: 1.94666667rem;
    line-height: 0.8rem;
  }
  .bind-phone-number .send-phone::before {
    width: 0.90666667rem;
    height: 0.50666667rem;
    left: 0.58666667rem;
    top: 0.16rem;
    background-size: 0.50666667rem auto;
  }
  .bind-phone-number .bind-post {
    width: 5.86666667rem;
    line-height: 0.8rem;
    border-radius: 0.08rem;
    font-size: 0.32rem;
  }
  .bind-phone-number .send-code {
    margin-bottom: 1.04rem;
  }
  .bind-phone-number .send-code input {
    width: 4rem;
    padding-left: 0.26666667rem;
    padding-right: 1.6rem;
  }
  .bind-phone-number .send-code .get-code {
    right: 0.58666667rem;
    width: 1.6rem;
    border-top-right-radius: 0.08rem;
    border-bottom-right-radius: 0.08rem;
    font-size: 0.21333333rem;
    line-height: 0.82666667rem;
  }
  .bind-phone-number .bind-phone-succeed {
    padding-top: 1.93333333rem;
    width: 1.84rem;
    background-size: 1.44rem auto;
    font-size: 0.32rem;
  }
}
