// 
.swiper-container{
    height: 900/192rem;
    .swiper-slide{
        height: 900/192rem;
        a{
            display: block;
            img{
                width: 100%;
            }
        }
    }
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 50%;
    width: 20px;
    right: 318/192rem;
    left: auto;
    transform: translateY(50%);
}
.swiper-pagination-bullet{
    background-color: #FFF;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #FFF;
    width: 16px;
    height: 16px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 32px auto;
    display: block;
}
