.details-banner {
  display: block;
  width: 100%;
}
.information-details-content {
  width: 1280px;
  margin: 0 auto;
}
.information-details-content .list-link {
  padding-top: 32px;
  line-height: 80px;
}
.information-details-content .list-link a {
  font-size: 14px;
  opacity: .5;
  color: #000;
}
.information-details-content .title-time-read {
  line-height: 36px;
  padding: 15px 0;
  font-size: 30px;
  margin-bottom: 50px;
}
.information-details-content .title-time-read .time-read {
  font-size: 16px;
  opacity: .4;
}
.information-details-content .title-time-read .time-read .read {
  background: url("../images/read.png") no-repeat left center;
  background-size: 18px auto;
  padding-left: 26px;
}
.information-details-content .title-time-read .time-read .time {
  padding-left: 38px;
}
.information-details-content .content {
  width: 100%;
}
.information-details-content .content img {
  max-width: 100%;
}
.information-details-content .next-up {
  line-height: 110px;
  padding-top: 60px;
  padding-bottom: 80px;
}
.information-details-content .next-up a {
  font-size: 20px;
  color: #000;
}
@media screen and (max-width: 1380px) {
  .information-details-content {
    width: 7.82608696rem;
  }
}
@media screen and (max-width: 980px) {
  .information-details-content {
    width: 8.53061224rem;
  }
}
@media screen and (max-width: 750px) {
  .information-details-content {
    width: 9.4rem;
  }
  .information-details-content .list-link {
    padding-top: 0;
    line-height: 1.2rem;
  }
  .information-details-content .list-link a {
    font-size: 0.24rem;
  }
  .information-details-content .title-time-read {
    line-height: 0.52rem;
    padding: 0;
    font-size: 0.4rem;
    margin-bottom: 0.66666667rem;
  }
  .information-details-content .title-time-read .time-read {
    font-size: 0.21333333rem;
  }
  .information-details-content .title-time-read .time-read .read {
    background: url("../images/read.png") no-repeat left center;
    background-size: 0.24rem auto;
    padding-left: 0.34666667rem;
  }
  .information-details-content .title-time-read .time-read .time {
    padding-left: 0.24rem;
  }
  .information-details-content .next-up {
    line-height: 1.46666667rem;
    padding-top: 0.8rem;
    padding-bottom: 1.06666667rem;
  }
  .information-details-content .next-up a {
    font-size: 0.26666667rem;
  }
}
