.solution-details-header {
  background-color: #ebebeb;
}
.solution-details-header .single-window {
  padding-left: 310px;
  width: 970px;
  margin: 0 auto;
  position: relative;
}
.solution-details-header .single-window .single-content {
  padding-top: 104px;
  padding-bottom: 153px;
}
.solution-details-header .single-window .single-content h3 {
  line-height: 112px;
  font-size: 24px;
}
.solution-details-header .single-window .single-content .content {
  font-size: 16px;
  line-height: 1.6em;
}
.solution-details-header .single-window .icon {
  position: absolute;
  background-color: #FFF;
  left: 0;
  width: 200px;
  height: 252px;
  border-radius: 12px;
  top: 99px;
}
.solution-details-header .single-window .icon .window-icon {
  height: 188px;
  position: relative;
}
.solution-details-header .single-window .icon .window-icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.solution-details-header .single-window .icon .text {
  font-size: 24px;
  line-height: 1.5em;
  text-align: center;
}
.wisdom-search-list {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.wisdom-search-list ul {
  width: auto;
}
.wisdom-search-list ul li {
  margin-right: 0;
  font-size: 0;
}
.wisdom-search-list ul li a {
  display: inline-block;
  position: relative;
}
.wisdom-search-list ul li.active {
  border: none;
}
.wisdom-search-list ul li.active a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid #000;
  transform: scaleY(0.333333);
}
.solution-details-content {
  width: 1280px;
  margin: 35px auto 0 auto;
  position: relative;
  min-height: 1390px;
}
.solution-details-content .list-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 304px;
  text-indent: 19px;
  box-shadow: 4px 3px 16px -1px #e4e4e4;
}
.solution-details-content .list-left .solution-scheme h3 {
  line-height: 60px;
  font-weight: normal;
  font-size: 24px;
}
.solution-details-content .list-left .solution-scheme a {
  display: block;
  line-height: 70px;
  font-size: 16px;
  color: #000;
  position: relative;
}
.solution-details-content .list-left .solution-scheme a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 270px;
  border-top: 1px solid #f0f0f0;
  top: 0;
  left: 19px;
}
.solution-details-content .list-left .find-window {
  border-top: 9px solid #ebebeb;
}
.solution-details-content .list-left .find-window h3 {
  line-height: 58px;
  padding-top: 17px;
  font-size: 24px;
  font-weight: normal;
}
.solution-details-content .list-left .find-window a {
  display: block;
  color: #000;
  font-size: 16px;
  padding-left: 123px;
  line-height: 72px;
  position: relative;
}
.solution-details-content .list-left .find-window a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 270px;
  border-top: 1px solid #f0f0f0;
  top: 0;
  left: 19px;
}
.solution-details-content .list-left .find-window a img {
  display: block;
  position: absolute;
  left: 28px;
  height: 35px;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}
.solution-details-content .list-right {
  padding-left: 350px;
}
.solution-details-content .list-right .fixed-search-list {
  left: auto;
  right: 50%;
  width: 930px;
  margin-right: -640px;
}
.solution-details-content .list-right .link-list {
  line-height: 60px;
  border-bottom: 1px solid #f7f7f7;
}
.solution-details-content .list-right .link-list a {
  padding: 0 16px;
  position: relative;
  display: block;
  float: left;
  margin-right: 66px;
  font-size: 14px;
  color: #000;
  opacity: .5;
}
.solution-details-content .list-right .link-list a.active {
  opacity: 1;
}
.solution-details-content .list-right .link-list a.active::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #000;
}
.solution-details-content .list-right .link-list a:last-child {
  margin-right: 0;
}
.solution-details-content .list-right .function-get {
  padding-top: 28px;
}
.solution-details-content .list-right .function-get .solution-function-bg {
  padding-bottom: 62px;
  border-bottom: 2px solid #e5e5e5;
}
.solution-details-content .list-right .function-get .solution-function-bg .content h3 {
  line-height: 138px;
  font-weight: normal;
  font-size: 36px;
  position: relative;
}
.solution-details-content .list-right .function-get .solution-function-bg .content h3::before {
  content: "";
  display: block;
  bottom: -6px;
  width: 28px;
  border-bottom: 6px solid #000;
  left: 0;
  position: absolute;
}
.solution-details-content .list-right .function-get .solution-function-bg .content .vessel {
  max-width: 100% !important;
}
.solution-details-content .list-right .function-get .solution-function-bg .content .vessel * {
  max-width: 100% !important;
}
.solution-details-content .list-right .function-get .solution-function-bg .content .context {
  margin-top: 52px;
  line-height: 1.8em;
  font-size: 15px;
  color: #000;
  margin-bottom: 60px;
}
.solution-details-content .list-right .function-get .solution-function-bg .content .banner {
  display: block;
  width: 100%;
}
.solution-details-content .list-right .enterprise {
  padding-bottom: 96px;
}
.solution-details-content .list-right .enterprise h3 {
  line-height: 132px;
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 17px;
}
.solution-details-content .list-right .enterprise .enterprise-list {
  padding-left: 260px;
  position: relative;
  padding-bottom: 40px;
  border-bottom: 2px solid #f4f4f4;
}
.solution-details-content .list-right .enterprise .enterprise-list:last-child {
  border: none;
}
.solution-details-content .list-right .enterprise .enterprise-list .enterprise-logo {
  position: absolute;
  left: 8px;
  top: 50%;
  display: block;
  transform: translateY(-50%);
}
.solution-details-content .list-right .enterprise .enterprise-list .enterprise-title {
  line-height: 90px;
  padding-top: 3px;
  font-size: 20px;
}
.solution-details-content .list-right .enterprise .enterprise-list .enterprise-content {
  font-size: 14px;
  line-height: 1.6em;
}
.solution-details-content .list-right .enterprise .enterprise-list a {
  float: right;
  font-size: 14px;
  text-decoration: underline;
  color: #000;
  cursor: pointer;
  margin-top: 20px;
}
@media screen and (max-width: 1380px) {
  .solution-details-header .single-window {
    padding-left: 240px;
    width: 7.82608696rem;
    box-sizing: border-box;
  }
  .solution-details-content {
    width: 7.82608696rem;
  }
  .solution-details-content .list-left {
    width: 200px;
    text-indent: 16px;
  }
  .solution-details-content .list-left .find-window a {
    padding-left: 56px;
    font-size: 14px;
  }
  .solution-details-content .list-left .find-window a img {
    height: 30px;
    left: 19px;
  }
  .solution-details-content .list-left .find-window a::before {
    width: 160px;
    left: 16px;
  }
  .solution-details-content .list-left .solution-scheme a::before {
    width: 160px;
    left: 16px;
  }
  .solution-details-content .list-right {
    padding-left: 240px;
  }
  .solution-details-content .list-right .fixed-search-list {
    width: 7.82608696rem;
    transform: translateX(240px);
    margin-right: -3.91304348rem;
  }
  .solution-details-content .list-right .fixed-search-list::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FFF;
    z-index: 7;
    width: 240px;
  }
  .solution-details-content .list-right .link-list a {
    margin-right: 0.47826087rem;
  }
}
@media screen and (max-width: 980px) {
  .solution-details-header .single-window {
    padding-left: 240px;
    width: 8.57142857rem;
    box-sizing: border-box;
  }
  .solution-details-header .single-window .icon {
    top: 60px;
  }
  .solution-details-header .single-window .single-content {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .solution-details-content {
    width: 8.57142857rem;
  }
  .solution-details-content .list-left {
    width: 148px;
    text-indent: 10px;
  }
  .solution-details-content .list-left .find-window a {
    padding-left: 0;
  }
  .solution-details-content .list-left .find-window a img {
    display: none;
  }
  .solution-details-content .list-left .find-window a::before {
    width: 128px;
    left: 10px;
  }
  .solution-details-content .list-left .solution-scheme a::before {
    width: 128px;
    left: 10px;
  }
  .solution-details-content .list-right {
    padding-left: 168px;
  }
  .solution-details-content .list-right .fixed-search-list {
    width: 8.57142857rem;
    transform: translateX(168px);
    margin-right: -4.28571429rem;
  }
  .solution-details-content .list-right .fixed-search-list::before {
    width: 168px;
  }
  .solution-details-content .list-right .link-list a {
    margin-right: 0.67346939rem;
    padding: 0 0.16326531rem;
  }
}
@media screen and (max-width: 750px) {
  .solution-details-header .single-window {
    padding-left: 3.06666667rem;
    width: 9.4rem;
    min-height: 4.8rem;
  }
  .solution-details-header .single-window .icon {
    top: 0.64rem;
    width: 2.66666667rem;
    height: 3.36rem;
    border-radius: 0.16rem;
  }
  .solution-details-header .single-window .icon .window-icon {
    height: 2.42666667rem;
  }
  .solution-details-header .single-window .icon .window-icon img {
    width: 0.73333333rem;
  }
  .solution-details-header .single-window .icon .text {
    font-size: 0.32rem;
  }
  .solution-details-header .single-window .single-content {
    padding-top: 0.56rem;
    padding-bottom: 0.6rem;
  }
  .solution-details-header .single-window .single-content h3 {
    line-height: 1.49333333rem;
    font-size: 0.32rem;
  }
  .solution-details-header .single-window .single-content .content {
    font-size: 0.21333333rem;
  }
  .solution-details-content {
    min-height: auto;
    width: 9.4rem;
    margin: 0 auto;
  }
  .solution-details-content .list-left {
    display: none;
  }
  .solution-details-content .list-right {
    padding-left: 0;
  }
  .solution-details-content .list-right .fixed-search-list {
    width: 10rem;
    padding: 0 .3rem;
    transform: translateX(0);
    margin-right: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .solution-details-content .list-right .fixed-search-list::before {
    width: 0;
  }
  .solution-details-content .list-right .link-list {
    line-height: 1.33333333rem;
  }
  .solution-details-content .list-right .link-list a {
    width: 25%;
    margin-right: 0;
    padding: 0;
    text-align: center;
  }
  .solution-details-content .list-right .link-list a.active::before {
    left: 50%;
    width: 1.35rem;
    margin-left: -0.65rem;
  }
  .solution-details-content .list-right .link-list a:first-child {
    text-align: left;
  }
  .solution-details-content .list-right .link-list a:first-child.active::before {
    left: 0;
    margin-left: -0.05rem;
  }
  .solution-details-content .list-right .link-list a:nth-child(2) {
    text-indent: -0.3rem;
  }
  .solution-details-content .list-right .link-list a:nth-child(2).active::before {
    margin-left: -0.8rem;
  }
  .solution-details-content .list-right .link-list a:nth-child(3) {
    text-indent: .3rem;
  }
  .solution-details-content .list-right .link-list a:nth-child(3).active::before {
    margin-left: -0.5rem;
  }
  .solution-details-content .list-right .link-list a:last-child {
    text-align: right;
  }
  .solution-details-content .list-right .link-list a:last-child.active::before {
    left: auto;
    right: 0;
    margin-right: -0.05rem;
    margin-left: auto;
  }
  .solution-details-content .list-right .function-get .solution-function-bg {
    padding: 0;
    padding-bottom: 0.66666667rem;
    border-bottom: 1px solid #e5e5e5;
  }
  .solution-details-content .list-right .function-get .solution-function-bg .content h3 {
    line-height: 1.78666667rem;
    font-size: 0.48rem;
  }
  .solution-details-content .list-right .function-get .solution-function-bg .content h3::before {
    bottom: -0.08rem;
    width: 0.37333333rem;
    border-bottom: 0.06666667rem solid #000;
  }
  .solution-details-content .list-right .function-get .solution-function-bg .content .context {
    margin-top: 0.76rem;
    margin-bottom: 0.42666667rem;
    font-size: 0.2rem;
  }
  .solution-details-content .list-right .enterprise {
    padding-bottom: 0.72rem;
  }
  .solution-details-content .list-right .enterprise h3 {
    padding-top: 0.16rem;
    line-height: 1.49333333rem;
    font-size: 0.48rem;
  }
  .solution-details-content .list-right .enterprise .enterprise-list {
    padding-left: 3.57333333rem;
    padding-bottom: 0.26666667rem;
    border-bottom: 1px solid #f4f4f4;
  }
  .solution-details-content .list-right .enterprise .enterprise-list .enterprise-logo {
    width: 2.33333333rem;
    left: 0.16rem;
  }
  .solution-details-content .list-right .enterprise .enterprise-list .enterprise-title {
    line-height: 1.33333333rem;
    padding-top: 0.08rem;
    font-size: 0.26666667rem;
  }
  .solution-details-content .list-right .enterprise .enterprise-list .enterprise-content {
    font-size: 0.18666667rem;
  }
  .solution-details-content .list-right .enterprise .enterprise-list a {
    font-size: 0.18666667rem;
    padding-bottom: 0.26666667rem;
  }
}
